.post {
  position: relative;
  background: #eeeeee;
  padding: 20px 15px;
  border-radius: 5px;
  margin: 20px 0;
  overflow: hidden;
  transition: all linear 0.2s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: calc(100% / 5.2);
  flex-wrap: wrap;
  .id {
    position: absolute;
    top: 0;
    left: 0;
    background: #d3d3d3;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 15px;
  }
  .title {
    font-weight: 600;
    margin: 15px;
    font-size: 25px;
    text-align: center;
  }
  .body {
    font-weight: 400;
    margin: 15px;
    font-size: 20px;
  }
}
