:root {
  --primary: #23adad;
  --greyLight: #23adade1;
  --greyLight-2: #cbe0dd;
  --greyDark: #2d4848;
}
.app {
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  width: 95%;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
  ul {
    width: 100%;
    display: flex;
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: space-between;
    li {
      font-size: 20px;
      cursor: pointer;
      width: 25px;
      height: 25px;
      line-height: 25px;
      text-align: center;
      border-radius: 5px;
      transition: all linear 0.2s;
      &:hover {
        background-color: #cbe0dd;
      }
    }
  }
}
.error {
  text-align: center;
  margin-top: 15px;
  text-transform: uppercase;
}

.post_link{
  position: relative;
  background: #eeeeee;
  border-radius: 5px;
  margin: 20px 0;
  overflow: hidden;
  transition: all linear 0.2s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: calc(100% / 5.2);
  flex-wrap: wrap;
}